body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width:100vw;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background: linear-gradient(120deg,#00c6ff,#00ff99,#0066ff);

  position:relative;
}

#tsparticles{
  position:absolute;
  width:100%;
  height:100%;
  z-index:0;
}

.login-card{
  position:relative;
  z-index:1;

  width:400px;
  padding:40px;

  border-radius:12px;

  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(15px);
}

.login-card h1{
  margin-bottom:20px;
}

.login-card input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:6px;
  border:1px solid #ddd;
}

.buttons{
  display:flex;
  gap:10px;
}

.btn-primary{
  background:#1da1f2;
  border:none;
  padding:10px 20px;
  border-radius:20px;
  color:white;
  cursor:pointer;
}

.btn-google{
  background:#1da1f2;
  border:none;
  padding:10px 20px;
  border-radius:20px;
  color:white;
  cursor:pointer;
}

.register{
  margin-top:20px;
  font-size:14px;
}