*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body, #root{
  width:100%;
  height:100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

.nav-auth-logo {
  font-weight: 700;
  font-size: 1.4rem;
}

.brand-pro {
  color: #00bdf2; /* Cor azul claro viva para o 'Pro' */
}

.brand-efigi {
  color: #ffffff; /* Branco para o 'efigi' */
}

